* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: white;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
}

#user-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    background-image: Linear-gradient(rgb(14, 14, 15) 0%, rgb(26, 25, 28) 20%, rgb(44, 44, 52) 50%, rgb(20, 20, 27) 100%);
    box-shadow: 0 0 6px rgb(202 228 225 / 92%), 0 0 30px rgb(202 228 225 / 34%), 0 0 12px rgb(30 132 242 / 52%), 0 0 34px rgb(30 132 242 / 0%), 0 0 54px rgb(30 132 242 / 7%);
}

.user-card h2,
p {
    margin-top: 0;
    color: white;
}